<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.secrething.dao.WgRoleMapper" >
  <resultMap id="BaseResultMap" type="com.secrething.entity.WgRole" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="permission_status" property="permissionStatus" jdbcType="BIT" />
    <result column="permission_data_search" property="permissionDataSearch" jdbcType="BIT" />
    <result column="permission_data_shar" property="permissionDataShar" jdbcType="BIT" />
    <result column="role_des" property="roleDes" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wg_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.secrething.entity.WgRole" >
    insert into wg_role (role_id, role_name, permission_status, 
      permission_data_search, permission_data_shar, role_des
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{permissionStatus,jdbcType=BIT}, 
      #{permissionDataSearch,jdbcType=BIT}, #{permissionDataShar,jdbcType=BIT}, #{roleDes,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.secrething.entity.WgRole" >
    update wg_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      permission_status = #{permissionStatus,jdbcType=BIT},
      permission_data_search = #{permissionDataSearch,jdbcType=BIT},
      permission_data_shar = #{permissionDataShar,jdbcType=BIT},
      role_des = #{roleDes,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select role_id, role_name, permission_status, permission_data_search, permission_data_shar, 
    role_des
    from wg_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select role_id, role_name, permission_status, permission_data_search, permission_data_shar, 
    role_des
    from wg_role
  </select>
</mapper>